<h3>My Contacts</h3>
<table class="table table-hover">
    <tr class="bg-info text-white">
        <th>NAME</th>
        <th>NUMBER</th>
        <th>EMAIL</th>
        <th></th>
        
    </tr>
    <tr *ngFor="let contact of contacts">
        <td>{{contact.contactName}}</td>
        <td>{{contact.contactGsm}}</td>
        <td>{{contact.contactEmail}}</td>
        <td>
            <button class="btn btn-danger" (click)="deleteContact(contact.contactId)">DELETE</button>
            &nbsp; <button class="btn btn-warning" (click)="editContact(contact.contactId)">UPDATE</button>
            
        </td>
        
    </tr>
</table>
<div class="bg-success text-white text-center">{{message}}</div>
